<app-container-padrao>
    <div class="mx-auto p-4">
        <div class="row mb-4">
            <div class="col d-flex justify-content-between">
                <a class="link-voltar d-inline" routerLink="/private/home">
                    <i class="fa fa-arrow-left mr-3"></i>
                    <span>Voltar</span>
                </a>
                <a class="link-voltar float-right" routerLink="/private/home">
                    <i class="fa fa-tasks mr-3"></i>
                    <span>Atividades</span>
                </a>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="titulo-disciplina p-4">
                    <h6 class="d-inline">Disciplina Lorem Ipsum</h6>
                    <span class="text-muted float-right">#45131</span>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <span class="text-muted">Atividade mais recente</span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <h6 class="text-muted">Título</h6>
                <span>Atividade 1 - Questões IHC</span>
            </div>

            <div class="col-6">
                <h6 class="text-muted">Data de Entrega</h6>
                <span>01/01/2020</span>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col">
                <div class="bg-white p-4">
                    <div class="row">
                        <div class="col-1 mr-4">
                            <img src="../../../../../../../assets/images/profile-pictures/no_picture.png"
                                 class="rounded-circle" height="50" width="50"/>
                        </div>
                        <div class="col">
                            <textarea class="compartilhar-text mb-2" rows="2"
                                      placeholder="Compartilhe algo com sua turma..."></textarea>
                            <div class="send">
                                <a (click)="compartilhadoSucesso()">
                                    <span class="mr-2">Enviar</span>
                                    <i class="fa fa-paper-plane"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="bg-white p-4">
                    <div class="row">
                        <div class="col-1 mr-4">
                            <img src="../../../../../../../assets/images/profile-pictures/no_picture.png"
                                 class="rounded-circle" height="50" width="50"/>
                        </div>
                        <div class="col">
                            <h6 class="m-0">Lorem Ipsum</h6>
                            <p class="text-muted post-date" title="13:20 - 7 de abril de 2020">7 de Abril</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi beatae consequuntur
                                cum
                                esse in
                                maxime obcaecati quia ratione repellat? Architecto culpa distinctio libero minus nam
                                natus
                                neque
                                quam temporibus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-container-padrao>
