.input-group-text {
  background: transparent;
  border-radius: 15px 0 0 15px;
}

.busca {
  border-left: none;
  border-radius: 15px;
}

.brand-text {
  white-space: nowrap;
  font-weight: bold;
  font-size: 20px;
  color: #574C70;
}

.btn-header {
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.32);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  padding: 7px;
  text-align: center;

  &:hover {
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.32);
  }

  i {
    font-size: 20px;
  }
}

.notify {
  background: #fff;
  width: 380px;
  position: absolute;
  top: 42px;
  right: 14px;
  z-index: 99999;
  box-shadow: 1px 1px 5px #ccc;

  .close {
    margin-top: -3px;
  }

  .fa-clock {
    font-size: 14px;
  }

  img {
    border-radius: 50%;
  }
}
