<header>
    <div class="container-fluid">
        <div class="row align-items-center">
            <a routerLink="/private/home" class="col brand-text">
                Class Room
            </a>

            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control busca" placeholder="Buscar Disciplinas" aria-label=""
                           aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col d-flex justify-content-end float-right">
                <a routerLink="/private/chat" class="btn-header mr-5" title="Mensagens">
                    <i class="far fa-paper-plane"></i>
                </a>
                <a (click)="showNotify = !showNotify" class="btn-header" title="Notificações">
                    <i class="far fa-bell"></i>
                </a>
                <div class="notify card" *ngIf="showNotify">
                    <div class="card-header text-center">
                        Notificações

                        <button type="button" (click)="showNotify = false" class="close float-right" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-3 img-notify">
                                <img src="../../../../assets/images/profile-pictures/no_picture.png"/>
                            </div>
                            <div class="col">
                                <span class="notify-title">Lorem ipsum dolor sit amet.</span>
                                <p class="text-muted mb-0">
                                    <i class="far fa-clock"></i>
                                    2 horas atrás
                                </p>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-3 img-notify">
                                <img src="../../../../assets/images/profile-pictures/no_picture.png"/>
                            </div>
                            <div class="col">
                                <span class="notify-title">Lorem ipsum dolor sit amet.</span>
                                <p class="text-muted mb-0">
                                    <i class="far fa-clock"></i>
                                    2 horas atrás
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
