<app-container-padrao>
    <div class="d-flex justify-content-around position-relative" *ngFor="let cardRow of disciplinas">
        <a [routerLink]="card.link" class="card" *ngFor="let card of cardRow">

            <div class="bookmark" [style]="getBookmarkColor(card.cor)"></div>

            <div class="card-inner p-3">
                <div class="card-left-col mr-3">
                    <div class="cover mb-3">
                        <img [src]="card.img"/>
                    </div>
                    <h5 class="card-title">{{card.titulo  | uppercase }}</h5>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Últimas Atividades</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </a>
    </div>
</app-container-padrao>
