<div class="login-container">
    <div class="box-container">
        <div class="box-logo">
            <img src="../../../../../../../assets/images/rede_social.jpg" height="548" width="626"/>
        </div>

        <div class="box">
            <div class="text-center mb-4">
                <h2>Login</h2>
            </div>
            <div class="fast-login">
                <button class="loginBtn loginBtn--facebook">
                    Login com Facebook
                </button>

                <button class="loginBtn loginBtn--google">
                    Login com Google
                </button>
            </div>
            <hr>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Endereço de Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Nós não compartilhamos seu e-mail.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>

                    <div class="input-group mb-3">
                        <input [type]="showPwd ? 'text' : 'password'" class="form-control" id="exampleInputPassword1">
                        <div class="input-group-append align-items-center">
                            <a class="ml-3 show-pwd" (click)="showPwd = !showPwd" [class.text-primary]="showPwd">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Permanecer logado</label>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary ml-auto" [routerLink]="['/private/home']">
                        Entrar
                    </button>
                </div>
            </form>
            <div class="form-text text-muted text-center mt-5">
                Ainda não possui uma conta? Então <a href="#" class="text-primary">cadastre-se aqui</a>.
            </div>
        </div>
    </div>
</div>
