<div class="alinhar-cards"></div>
<div class="gerenciador-cards" *ngFor="let card of listaCards">
  <a class="card border" style="margin-top: 2em; max-width: 18rem;">
    <div class="bookmark" [style]="getBookmarkColor(card.cor)"></div>
    <div class="card-inner">
      <h5 class="card-header">{{card.disciplina | uppercase }}</h5>
      <div class="card-body">
        <p class="list-group-item"> {{card.descricao }}</p>
        <a class="card-link" title="Ir para atividade"><small>Data de Entrega</small></a>
        <a class="card-link"><small class="text-muted">{{card.dataEntrega}}</small></a>
        <a href="private/atividades" class="card-link btn-follow"><span title="Ir para Atividades">
            <i class="fas fa-chevron-circle-right" style="color: teal"></i></span></a>
      </div>
    </div>
  </a>
</div>
