<div class="side-outter">
    <div class="logo">
        <img src="../../../../assets/images/logo-online-education-study.png"/>
    </div>

    <div class="disciplinas">
        <ul>
            <li *ngFor="let disciplina of disciplinas">
                <div class="hover-bg">
                    <a [routerLink]="disciplina.link" routerLinkActive="active" class="align-middle"
                       #currentLink="routerLinkActive">
                        {{currentLink.isActive}}
                        <ng-container *ngIf="currentLink.isActive; else bookClosed">
                            <i class="fas fa-book-open mr-4" [style]="'color:' + disciplina.cor"></i>
                        </ng-container>
                        <ng-container #bookClosed>
                            <i class="fa fa-book mr-4" [style]="'color:' + disciplina.cor"></i>
                        </ng-container>

                        <span class="disciplina-titulo align-top">{{disciplina.nome}}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
