<div class="side-outter">
    <div class="logo">
        <img src="../../../../assets/images/logo-online-education-study.png"/>
    </div>

    <div class="disciplinas">
        <ul>
            <li *ngFor="let disciplina of disciplinas">
                <a [routerLink]="disciplina.link" routerLinkActive="active" class="align-middle"
                   #currentLink="routerLinkActive">
                    <div class="hover-bg">
                        <ng-container *ngIf="currentLink.isActive; else bookClosed">
                            <i class="fas fa-book-open mr-4" [style]="'color:' + disciplina.cor"></i>
                        </ng-container>
                        <ng-template #bookClosed>
                            <i class="fa fa-book mr-4" [style]="'color:' + disciplina.cor"></i>
                        </ng-template>

                        <span class="disciplina-titulo align-top" [title]="disciplina.nome">{{disciplina.nome}}</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
