<div class="side-outter">
    <div class="logo">
        <img src="../../../../assets/images/logo-online-education-study.png"/>
    </div>

    <div class="disciplinas">
        <ul>
            <li>
                <a href="">
                    <img src="../../../../assets/images/book.png"/>
                    ABC
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../../../assets/images/book.png"/>
                    ABC
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../../../assets/images/book.png"/>
                    ABC
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../../../assets/images/book.png"/>
                    ABC
                </a>
            </li>
        </ul>
    </div>
</div>
